<a href="https://colab.research.google.com/github/fmakkawi/Data110/blob/main/Activity_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Farah Makkawi

In [4]:
from datetime import datetime

# This function takes a date and turns it into Month Day, Year
def format_date(date_str):
    try:
        new_date = datetime.strptime(date_str, "%m/%d/%y")
        return new_date.strftime("%B %d, %Y")
    except:
        return "Invalid date"

# This function calculates weekly pay with overtime
def calculate_weekly_pay(hours, rate):
    try:
        hours = float(hours)
        rate = float(rate)
        if hours <= 40:
            return hours * rate
        else:
            overtime_hours = hours - 40
            return (40 * rate) + (overtime_hours * rate * 1.5)
    except:
        return "Invalid input"

   # Example tests
print(format_date("3/12/19"))
print(format_date("2/29/24"))
print(format_date("3/45/24"))
print(calculate_weekly_pay(40, 10))
print(calculate_weekly_pay(45, 10))

March 12, 2019
February 29, 2024
Invalid date
400.0
475.0